@import url('https://fonts.googleapis.com/css?family=Raleway');
@font-face{
	font-family: 'magik';
	src: url("fuentes/CWMAGIK_.TTF");
}
/* 1ra LINEA */
div.linea1{
	width: 100%;
	height: 269.2px;
}
div.catalogo{
	height: 100%;
	float: left;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	-webkit-transform: translateX(0);
}
div.subcatalogo{
	height: 95%;
	width: 97%;
}
div#uno{
	background-color: #E4007CB3;
	width: 25%;
}
#subuno{
	background-image: url(../imagenes/princesas.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	border-radius: 5px;
	text-align: center;
}
div#dos{
	background-color: #1E2460B3;
	width: 25%;
}
#subdos{
	background-image: url(../imagenes/tatiana.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	border-radius: 5px;
	text-align: center;
}
div#tres{
	background-color: #FFFF60B3;
	width: 25%;
}
#subtres{
	background-image: url(../imagenes/chavo.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	border-radius: 5px;
	text-align: center;
}
div#cuatro{
	background-color: #572364B3;
	width: 25%;
}
#subcuatro{
	background-image: url(../imagenes/monster.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	border-radius: 5px;
	text-align: center;
}
@media screen and (max-width:1269px){
	a div#uno{
		width: 50%;
	}
	a div#dos{
		width: 50%;
	}
	a div#tres{
		width: 50%;
	}
	a div#cuatro{
		width: 50%;
	}
	a div#cinco{
		width: 50%;
	}
	a div#seis{
		width: 50%;
	}
	a div#siete{
		width: 50%;
	}
	a div#ocho{
		width: 50%;
	}
	a div#nueve{
		width: 50%;
	}
	a div#diez{
		width: 50%;
	}
	a div#once{
		width: 50%;
	}
	a div#doce{
		width: 50%;
	}
}
/* ANIMACION 1ra LINEA*/
#uno:before{
	content: '';
	position: absolute;

	width: 0px;
	height: 0px;
	background: #E4007CB3;
	-webkit-transition-duration: 0.5s;
}
#uno:hover:before{
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	content: 'Princesas';
	font-family: 'magik';
	letter-spacing: 5px;
	font-size: 40px;
	width: 100%;
	height: 100%;
	color: snow;
}
#dos:before{
	content: '';
	position: absolute;

	width: 0px;
	height: 0px;
	background: #1E2460B3;
	-webkit-transition-duration: 0.5s;
}
#dos:hover:before{
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	content: 'Tatiana';
	font-family: 'magik';
	letter-spacing: 5px;
	font-size: 40px;
	width: 100%;
	height: 100%;
	color: snow;
}
#tres:before{
	content: '';
	position: absolute;

	width: 0px;
	height: 0px;
	background: #FFFF60B3;
	-webkit-transition-duration: 0.5s;
}
#tres:hover:before{
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	content: 'El chavo del 8';
	font-family: 'magik';
	letter-spacing: 5px;
	font-size: 40px;
	width: 100%;
	height: 100%;
	color: gray;
}
#cuatro:before{
	content: '';
	position: absolute;

	width: 0px;
	height: 0px;
	background: #572364B3;
	-webkit-transition-duration: 0.5s;
}
#cuatro:hover:before{
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	content: 'Vaqueritas';
	font-family: 'magik';
	letter-spacing: 5px;
	font-size: 40px;
	width: 100%;
	height: 100%;
	color: snow;
}
/* 2da LINEA */
div.linea2{
	width: 100%;
	height: 269.2px;
}
div#cinco{
	background-color: #922B3EB3;
	width: 25%;
}
#subcinco{
  background-image: url(../imagenes/pavos.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	border-radius: 5px;
	text-align: center;
}
div#seis{
  background-color: #2271B3B3;
	width: 25%;
}
#subseis{
  background-image: url(../imagenes/frozen.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	border-radius: 5px;
	text-align: center;
}
div#siete{
  background-color: #A10684B3;
	width: 25%;
}
#subsiete{
  background-image: url(../imagenes/monsters.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	border-radius: 5px;
	text-align: center;
}
div#ocho{
  background-color: #ff2301B3;
	width: 25%;
}
#subocho{
  background-image: url(../imagenes/moana.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	border-radius: 5px;
	text-align: center;
}
/* ANIMACION 2da LINEA*/
#cinco:before{
	content: '';
	position: absolute;

	width: 0px;
	height: 0px;
	background: #922B3EB3;
	-webkit-transition-duration: 0.5s;
}
#cinco:hover:before{
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	content: 'Power Rangers';
	font-family: 'magik';
	letter-spacing: 5px;
	font-size: 40px;
	width: 100%;
	height: 100%;
	color: snow;
}
#seis:before{
	content: '';
	position: absolute;

	width: 0px;
	height: 0px;
	background: #2271B3B3;
	-webkit-transition-duration: 0.5s;
}
#seis:hover:before{
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	content: 'Frozen';
	font-family: 'magik';
	letter-spacing: 5px;
	font-size: 40px;
	width: 100%;
	height: 100%;
	color: snow;
}
#siete:before{
	content: '';
	position: absolute;

	width: 0px;
	height: 0px;
	background: #A10684B3;
	-webkit-transition-duration: 0.5s;
}
#siete:hover:before{
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	content: 'Monster High';
	font-family: 'magik';
	letter-spacing: 5px;
	font-size: 40px;
	width: 100%;
	height: 100%;
	color: snow;
}
#ocho:before{
	content: '';
	position: absolute;

	width: 0px;
	height: 0px;
	background: #FF2301B3;
	-webkit-transition-duration: 0.5s;
}
#ocho:hover:before{
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	content: 'Moana';
	font-family: 'magik';
	letter-spacing: 5px;
	font-size: 40px;
	width: 100%;
	height: 100%;
	color: snow;
}
/* 3ra LINEA */
div.linea3{
	width: 100%;
	height: 269.2px;
}
div#nueve{
  background-color: #FF0000B3;
	width: 25%;
}
#subnueve{
  background-image: url(../imagenes/payagays.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	border-radius: 5px;
	text-align: center;
}
div#diez{
  background-color: #317F43B3;
	width: 25%;
}
#subdiez{
  background-image: url(../imagenes/valiente.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	border-radius: 5px;
	text-align: center;
}
.sublinea1{
	width: 100%;
	height: 50%;
}
.botarga{
	height: 100%;
	float: left;
}
div#once{
  background-color: #424242B3;
	width: 25%;
}
#bot1{
	background-image: url(../imagenes/backy.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	text-align: center;
  border-radius: 5px 0px 0px 0px;
	width: 50%;
}
#bot2{
	background-image: url(../imagenes/barney.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	text-align: center;
  border-radius: 0px 5px 0px 0px;
	width: 50%;
}
.sublinea2{
	width: 100%;
	height: 50%;
}
#bot3{
	background-image: url(../imagenes/toy.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	text-align: center;
  border-radius: 0px 0px 0px 5px;
	width: 50%;
}
#bot4{
	background-image: url(../imagenes/hielo.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	text-align: center;
  border-radius: 0px 0px 5px 0px;
	width: 50%;
}
div#doce{
	background-color: #008080B3;
	width: 25%;
}
.sublin1{
	width: 100%;
	height: 25%;
}
.servicios{
	height: 100%;
	float: left;
}
#serv1{
	background-image: url(../imagenes/arreglo.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
  border-radius: 5px 0px 0px 0px;
	text-align: center;
	width: 25%;
}
#serv2{
	background-image: url(../imagenes/salon.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	text-align: center;
	width: 25%;
}
#serv3{
	background-image: url(../imagenes/magos.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	text-align: center;
	width: 25%;
}
#serv4{
	background-image: url(../imagenes/santa.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
  border-radius: 0px 5px 0px 0px;
	text-align: center;
	width: 25%;
}
.sublin2{
	width: 100%;
	height: 25%;
}
#serv5{
	background-image: url(../imagenes/bug.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	text-align: center;
	width: 25%;
}
#serv6{
	background-image: url(../imagenes/jenga.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	text-align: center;
	width: 25%;
}
#serv7{
	background-image: url(../imagenes/casino.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	text-align: center;
	width: 25%;
}
#serv8{
	background-image: url(../imagenes/timbi.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	text-align: center;
	width: 25%;
}
.sublin3{
	width: 100%;
	height: 25%;
}
#serv9{
	background-image: url(../imagenes/piratas.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	text-align: center;
	width: 25%;
}
#serv10{
	background-image: url(../imagenes/mickey.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	text-align: center;
	width: 25%;
}
#serv11{
	background-image: url(../imagenes/rana.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	text-align: center;
	width: 25%;
}
#serv12{
	background-image: url(../imagenes/dora.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	text-align: center;
	width: 25%;
}
.sublin4{
	width: 100%;
	height: 25%;
}
#serv13{
	background-image: url(../imagenes/campanita.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
  border-radius: 0px 0px 0px 5px;
	text-align: center;
	width: 25%;
}
#serv14{
	background-image: url(../imagenes/peygeo.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	text-align: center;
	width: 25%;
}
#serv15{
	background-image: url(../imagenes/avengers.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	text-align: center;
	width: 25%;
}
#serv16{
	background-image: url(../imagenes/plus.jpg);
	background-repeat: none;
	background-position: center;
	background-size: cover;
  border-radius: 0px 0px 5px 0px;
	text-align: center;
	width: 25%;
}
/* ANIMACION 3ra LINEA*/
#nueve:before{
	content: '';
	position: absolute;

	width: 0px;
	height: 0px;
	background: #FF0000B3;
	-webkit-transition-duration: 0.5s;
}
#nueve:hover:before{
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	content: 'Guapayasos';
	font-family: 'magik';
	letter-spacing: 5px;
	font-size: 40px;
	width: 100%;
	height: 100%;
	color: snow;
}
#diez:before{
	content: '';
	position: absolute;

	width: 0px;
	height: 0px;
	background: #317F43B3;
	-webkit-transition-duration: 0.5s;
}
#diez:hover:before{
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	content: 'Valiente';
	font-family: 'magik';
	letter-spacing: 5px;
	font-size: 40px;
	width: 100%;
	height: 100%;
	color: snow;
}
#once:before{
	content: '';
	position: absolute;

	width: 0px;
	height: 0px;
	background: #424242B3;
	-webkit-transition-duration: 0.5s;
}
#once:hover:before{
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	content: 'Botargas';
	font-family: 'magik';
	letter-spacing: 5px;
	font-size: 40px;
	width: 100%;
	height: 100%;
	color: snow;
}
#doce:before{
	content: '';
	position: absolute;

	width: 0px;
	height: 0px;
	background: #008080B3;
	-webkit-transition-duration: 0.5s;
}
#doce:hover:before{
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	content: 'Catálogo Completo';
	font-family: 'magik';
	letter-spacing: 5px;
	font-size: 40px;
	width: 100%;
	height: 100%;
	color: snow;
}
