@import url('https://fonts.googleapis.com/css?family=Raleway');
@font-face{
	font-family: 'magik';
	src: url("fuentes/CWMAGIK_.TTF");
}
header{
	width: 100%;
	background: #0836a9CC; /* VERDEAZULADO */
	height: 130px;
	padding: 0;
}
body{
  background-image: url("../imagenes/fondo8b.jpg");
}
.imagen{
  float: left;
}
.logo{
  padding-left: 2%;
}
div.imagen img{
	height: 120px;
	width: 145px;
}
.titulo{
  padding-top: 1px;
  float: left;
}
div h1 a{
  font-family: 'magik';
  font-size: 40px;
	color: snow;
	text-decoration: none;
}
div h2{
  font-family: 'magik';
  color: snow;
  margin-top: -20px;
  font-weight: lighter;
  font-size: 15px;
}
header div nav.contacto{
  float: right;
  padding-right: 5%;
}
header div nav.menu{
  /*background-color: yellow;*/
  float: left;
  padding-left: 5%;
  /* solo para 1080p */
  /*margin-top:2%;*/
}
nav.menu ul li{
	color: white;
	display: inline;
}
nav.menu ul li a{
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Raleway', sans-serif;
	padding: 29px 9px;
}
nav.contacto ul li{
	color: white;
	display: inline;
}
nav.contacto ul li{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	/*text-transform: uppercase;*/
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Calibri', sans-serif;
}
header nav ul li a:hover{
	color:orange;
}
.desc{
  background-color: #ffffff99;
  height: 260px;
  width: 60%;
  margin-left: 20%;

}
div.desc p{
  font-family: 'magik';
  text-align: center;
  font-size: 25px;
  color: black;
  font-weight: bold;
  margin-top: -20px;
}
div#ubicacion p{
  font-family: 'magik';
  text-align: center;
  font-size: 25px;
  color: black;
  font-weight: bold;
  margin-top: -20px;
}
#tit{
  padding-top: 30px;
  font-size: 50px;
}
#ubicacion{
  margin-top: 20px;
  border-radius: 10px;
	border: 4px solid black;
  background-color: #4a1942;
  width: 10%;
  height: 50px;
  margin-left: 45%;
}
div#ubicacion p{
  color: #ebebeb;
  letter-spacing: 2px;
  margin-top: 2px;
  padding-top: 10px;
}
a{
	text-decoration: none;
}
/* FOOTER */
footer{
	margin-top: 2%;
	width: 100%;
	height: 400px;

}
.ext_footer{
	width: 100%;
	height: 15%;
	/*background-color: #0836a9CC;*/
	background-color: #183d99;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.ext_footer a{
	font-family: sans-serif;
	color: snow;
	text-decoration: none;
	margin-left: 10px;
}
.ext_footer p{
	font-family: sans-serif;
	color: snow;
	text-decoration: none;
	margin-left: 10px;
	font-weight: bold;
}
p.m_footer{
	font-weight: normal;
}
.cent_footer{
	width: 100%;
	height: 70%;
	background-color: #102c54;
}
.cent_footer div{
	width: 20%;
	height: 100%;
	float: left;
	margin-left: 10%;
}
.interno div{
	margin-left: 0px; /* anula la regla general del sector */
	float: none; /* anula la regla general del sector */
	width: 100%;
}
.interno .prim{
	height: 15%;
	color: snow;
	font-weight: lighter;
}
.interno .segu{
	height: 15%;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
	font-family: sans-serif;
	font-weight: bold;
	color: snow;
}
.interno .terc{
	height: 70%;
	font-family: sans-serif;
	text-align: justify;
	color: snow;
	font-weight: lighter;
}
