@import url('https://fonts.googleapis.com/css?family=Raleway');
@font-face{
	font-family: 'magik';
	src: url("fuentes/CWMAGIK_.TTF");
}
header{
	width: 100%;
	background: #0836a9CC; /* VERDEAZULADO */
	height: 130px;
	padding: 0;
}
.imagen{
  float: left;
}
.logo{
  padding-left: 2%;
}
div.imagen img{
	height: 120px;
	width: 145px;
}
.titulo{
  padding-top: 1px;
  float: left;
}
div h1 a{
  font-family: 'magik';
  font-size: 40px;
	color: snow;
	text-decoration: none;
}
div h2{
  font-family: 'magik';
  color: snow;
  margin-top: -20px;
  font-weight: lighter;
  font-size: 15px;
}
header div nav.contacto{
  float: right;
  padding-right: 5%;
}
header div nav.menu{
  /*background-color: yellow;*/
  float: left;
  padding-left: 5%;
  /* solo para 1080p */
  /*margin-top:2%;*/
}
nav.menu ul li{
	color: white;
	display: inline;
}
nav.menu ul li a{
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Raleway', sans-serif;
	padding: 29px 9px;
}
nav.contacto ul li{
	color: white;
	display: inline;
}
nav.contacto ul li{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	/*text-transform: uppercase;*/
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Calibri', sans-serif;
}
header nav ul li a:hover{
	color:orange;
}
