@import url('https://fonts.googleapis.com/css?family=Raleway');
@font-face{
	font-family: 'magik';
	src: url("fuentes/CWMAGIK_.TTF");
}
body{
  background-image: url("../imagenes/fondo8b.jpg");
}
header{
	width: 100%;
	background: #0836a9CC; /* VERDEAZULADO */
	height: 130px;
	padding: 0;
}
.imagen{
  float: left;
}
.logo{
  padding-left: 2%;
}
div.imagen img{
	height: 120px;
	width: 145px;
}
.titulo{
  padding-top: 1px;
  float: left;
}
div h1 a{
  font-family: 'magik';
  font-size: 40px;
	color: snow;
	text-decoration: none;
}
div h2{
  font-family: 'magik';
  color: snow;
  margin-top: -20px;
  font-weight: lighter;
  font-size: 15px;
}
header div nav.contacto{
  float: right;
  padding-right: 5%;
}
header div nav.menu{
  /*background-color: yellow;*/
  float: left;
  padding-left: 5%;
  /* solo para 1080p */
  /*margin-top:2%;*/
}
nav.menu ul li{
	color: white;
	display: inline;
}
nav.menu ul li a{
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Raleway', sans-serif;
	padding: 29px 9px;
}
nav.contacto ul li{
	color: white;
	display: inline;
}
nav.contacto ul li{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	/*text-transform: uppercase;*/
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Calibri', sans-serif;
}
header nav ul li a:hover{
	color:orange;
}
div.linea1{
	width: 100%;
	height: 269.2px;
}
div.catalogo{
	height: 100%;
	float: left;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	-webkit-transform: translateX(0);
}
div.subcatalogo{
	height: 95%;
	width: 97%;
}
div#uno{
	background-color: #E4007CB3;
	width: 25%;
}
#subuno{
	background-image: url(../imagenes/princesas.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	border-radius: 5px;
	text-align: center;
}
div#dos{
	background-color: #1E2460B3;
	width: 25%;
}
#subdos{
	background-image: url(../imagenes/tatiana.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	border-radius: 5px;
	text-align: center;
}
div#tres{
	background-color: #FFFF60B3;
	width: 25%;
}
#subtres{
	background-image: url(../imagenes/chavo.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	border-radius: 5px;
	text-align: center;
}
div#cuatro{
	background-color: #572364B3;
	width: 25%;
}
#subcuatro{
	background-image: url(../imagenes/monster.jpg);
	background-repeat: none;
	background-position: top;
	background-size: cover;
	border-radius: 5px;
	text-align: center;
}
/* ANIMACION */
#uno:before{
	content: '';
	position: absolute;

	width: 0px;
	height: 0px;
	background: #E4007CB3;
	-webkit-transition-duration: 0.5s;
}
#uno:hover:before{
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	content: 'Princesas';
	font-family: 'magik';
	letter-spacing: 5px;
	font-size: 40px;
	width: 100%;
	height: 100%;
	color: snow;
}
#dos:before{
	content: '';
	position: absolute;

	width: 0px;
	height: 0px;
	background: #1E2460B3;
	-webkit-transition-duration: 0.5s;
}
#dos:hover:before{
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	content: 'Tatiana';
	font-family: 'magik';
	letter-spacing: 5px;
	font-size: 40px;
	width: 100%;
	height: 100%;
	color: snow;
}
#tres:before{
	content: '';
	position: absolute;

	width: 0px;
	height: 0px;
	background: #FFFF60B3;
	-webkit-transition-duration: 0.5s;
}
#tres:hover:before{
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	content: 'El chavo del 8';
	font-family: 'magik';
	letter-spacing: 5px;
	font-size: 40px;
	width: 100%;
	height: 100%;
	color: gray;
}
#cuatro:before{
	content: '';
	position: absolute;

	width: 0px;
	height: 0px;
	background: #572364B3;
	-webkit-transition-duration: 0.5s;
}
#cuatro:hover:before{
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	content: 'Vaqueritas';
	font-family: 'magik';
	letter-spacing: 5px;
	font-size: 40px;
	width: 100%;
	height: 100%;
	color: snow;
}
